body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

/*
input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}
*/

/*
textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}
*/
.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.controles {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fecha {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.ronda + .ronda{
    margin-top: 20px;
}

.ronda {
    display: inline-block;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.grupo {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #DCFFDC;
    min-width: 400px;
}

.grupo .titulo {
    display: block;
    color: #222;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}


.partidos table {
    width: 100%;
}

.partidos td {
    padding: 5px 5px;
    border: 1px solid #333;
}

.partidos table {
    border-collapse: separate;
    border-spacing: 5px 10px;
}

.partidos tr:nth-child(even) {
    background: #FFF;
}

.partidos tr:nth-child(odd) {
    background: #CCC;
}

.partidos td.resultado {
    background-color: #DCFFDC;
    border: none;
}

.resultado {
    width: 25px;
}

.resultado input {
    width: 100%;
    text-align: center;
}

