body {
    background-color: #75AADB;
    margin-top: 0px;
    padding: 0px;
}

.container-all {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 600px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background-color: #FFF;
    
    text-align: justify;
    line-height: 1.8;
}
#logo-mundial {
    //float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 90%;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

.simple-form {
    //width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.simple-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: none;
    height: 25px;
    border: 0;
    border: 1px solid #D8D8D8;
}

.boton-simple {
    //display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: none;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #fcfcfc;
    border: 2px solid;
    border-color: #d8d8d8 #d1d1d1 #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
}
/*
input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}
*/

/*
textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}
*/
.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.menu {
    margin: 0;
    padding: 0;
    float: left;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    border-width: 1px 0;
}

.menu li {
    display: inline;
    float: left;
    padding: 5px 5px;
    border-right: 1px solid black;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu-rondas {
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    //border-width: 1px 0;
}

.menu-rondas li {
    display: inline;
    float: left;
    padding: 5px 0px;
    border-right: 1px solid black;
}

.menu-rondas li a {
    text-decoration: none;
    color: black;
}

.menu-rondas  .seleccionada a{
    font-weight: 110%;
 //   color: #176DB3;
    color: #75AADB;
}



.fecha {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}

.ronda {
    margin-top: 20px;
}

.ronda + .ronda{
    margin-top: 20px;
}

.ronda {
    display: inline-block;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.grupo .titulo::before {
    content: "Grupo ";
}

.grupo, .non-grupo {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #DCFFDC;
    min-width: 400px;
}

.grupo .titulo,.non-grupo .titulo {
    display: block;
    color: #222;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}


.ronda table {
    width: 100%;
}

.partido td {
    padding: 5px 5px;
    border: 1px solid #333;
}

.ronda table {
    border-collapse: separate;
    border-spacing: 5px 10px;
}

.ronda select {
    width: 100%;
}

.ronda option {
    direction: rtl;
}

.partidos tr:nth-child(even) {
    background: #FFF;
}

.partidos tr:nth-child(odd) {
    background: #CCC;
}

.partidos td.resultado {
    background-color: #DCFFDC;
    border: none;
}

.resultado {
    width: 25px;
    height: 26px;
}

.resultado.radiooption {
    width: 3px;
    padding: 0px;
}

.resultado input[type=text] {
    width: 100%;
    text-align: center;
}


.posiciones {
    display: inline-block;
    width: 100%;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.posiciones table {
    border-collapse: collapse;
    text-align: center;
    width: 80%;
}

.posiciones th {
    font-size: 120%;
    border-bottom: 2px solid #6678B1;
}

.posiciones td {
    padding: 9px 8px 0px 8px;
}

.posiciones a {
    text-decoration: none;
    font-weight: bold;
}

.posiciones a:link {
    color:#75AADB;
}

.posiciones a:visited {
    color:#75AADB;
}

.posiciones a:hover {
    color:#75AADB;
    background-color:#DDD;
}
.posiciones a:active {
    color:#75AADB;
    background-color:#EEEEEE;
}

.selector-rondas {
    display: inline-block;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.selector-rondas a {
    margin: 0 5px;
}

td.score-partido {
    background-color: #DCFFDC;
    border: none;
    font-size: 80%;
    color: #555;
}

.counter {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    margin: 0;
}

.counter .valor {
 //   color: #176DB3;
    color: #75AADB;
    font-size: 250%;
}

.counter .descripcion {
    font-size: 120%;
}

.countdown .titulo {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 120%;
}

.countdown {
    border: 1px solid black;
}

.contenido-countdown {
    display: inline-block;
    margin-bottom: 5px;
    margin: 0 auto;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.expired {
    color: #FF3333;
}

.score {
    font-weight: bold;
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.reglas {
    margin-left: 10px;
    width: 95%;
}
