<!DOCTYPE html>

<html>
    <head>
        <title>Prode Mundial 2014</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    </head>

    <body>

        <ul class="menu">
            <li><a href="/reglas">reglas</a></li>
            {% if user %}
            <li><a href="/posiciones">posiciones</a></li>
            <li><a href="/resultados">resultados</a></li>
            <li></ku><a href="/resultados_por_usuario">Ver otros</a></li>
            <li>{{user.name}} (<a href="/logout">logout</a>)</li>
            {% else %}
            <li><a href="/login">login</a></li>
            <li><a href="/signup">sign up</a></li>
            {% endif %}
        </ul>

        <a href="/" class="main-title">Prode Mundial 2014</a>

        {% block body_content %}
        {% endblock %}


    </body>
</html>
