<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Prode Mundial 2018</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container text-center">
            <ul class="nav nav-tabs">
                {% if user %}
                <li class="nav-item-dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Instancias</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Primera</a>
                        <a class="dropdown-item disabled" href="/?ronda=Octavos">Octavos</a>
                        <a class="dropdown-item disabled" href="/?ronda=Cuartos">Cuartos</a>
                        <a class="dropdown-item disabled" href="/?ronda=Semifinal">Semifinal</a>
                        <a class="dropdown-item disabled" href="/?ronda=TercerPuesto">Tercer puesto</a>
                        <a class="dropdown-item disabled" href="/?ronda=Final">Final</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posiciones">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resultados_por_usuario">Resultados por participante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resultados">Resultados reales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reglas">Reglas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">{{user.name}} (Logout)</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/reglas">Reglas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Registrarse</a>
                </li>
                {% endif %}
            </ul>

            {% block body_content %}
            {% endblock %}
        </div>

    </body>
</html>
