{% extends "base2.html" %}

{% block body_content %}
<script src='/scripts/countdown.js'></script>

<script>
    CountDownTimer('{{ronda.diff_tiempo}}', 'countdown');
</script>

<!--
<div class="instrucciones">
    <p>
    Completar el resultado de cada partido e indicar quién hace el primer gol en cada uno.
    Se podrán hacer modificaciones hasta 24 hs antes del primer partido.
    </p>
</div>
-->

<div class="jumbotron">
    <h2>Tiempo para realizar cambios en esta instancia</h2>
    <table class="table">
        <tbody>
            <tr>
                <td class="text-primary h2 font-weight-bold" id="dias_restantes">-</td>
                <td class="text-primary h2 font-weight-bold" id="horas_restantes">-</td>
                <td class="text-primary h2 font-weight-bold" id="minutos_restantes">-</td>
                <td class="text-primary h2 font-weight-bold" id="segundos_restantes">-</td>
            </tr>
            <tr>
                <td>DÍAS</td>
                <td>HS</td>
                <td>MIN</td>
                <td>SEG</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="selector-rondas">
    <ul class="nav nav-tabs">
        {% for r in rondas %}
        <li
        class="nav-item"
        ><a
        {% if ronda.ronda == r.ronda %}
            class="nav-link active"
        {% else %}
            class="nav-link"
        {% endif %}
            href="/?ronda={{r.ronda}}">{{r.ronda}}</a> </li>
        {% endfor %}
    </ul>
</div>

{% include "rondas2.html" %}

{% endblock %}

