{% extends "base.html" %}

{% block body_content %}
<script src='/scripts/countdown.js'></script>
<script>
    CountDownTimer('{{ronda.limite}}', 'countdown');
</script>

<div id="countdown"></div>

{% if score %}
<div class="score">
Puntos: {{score.scoreTotal}} <br/>
</div>
{% endif %}

<div class="instrucciones">
    Poner algunas instrucciones acá.
</div>

<div class="selector-rondas">
    {% for r in rondas %}
    <a href="/?ronda={{r.ronda}}">{{r.ronda}}</a> 
    {% endfor %}
</div>

{% include "rondas.html" %}

{% endblock %}
