{% extends "base.html" %}

{% block body_content %}
<h2>Posiciones</h2>

<div class="posiciones">
    <table>
        <thead>
            <tr>
                <th>Posición</th>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            {% set pos = 0 %}
            {% for usuario in usuarios %}
            {% set pos = pos + 1 %}
            <tr>
                <td>{{ pos }}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.puntaje}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
