{% extends "base2.html" %}

{% block body_content %}
<h2>Posiciones</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Posición</th>
            <th>Nombre</th>
            <th>Puntaje</th>
        </tr>
    </thead>
    <tbody>
        {% set pos = 0 %}
        {% for usuario in usuarios %}
        {% set pos = pos + 1 %}
        <tr>
            <td>{{ pos }}</td>
            <td><a href="/resultados_por_usuario?usuario={{usuario.name}}">{{usuario.name}}</a></td>
            <td>{{usuario.puntaje}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

